body {
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  min-width: 320px;
  position: relative;
  font-size: 12px;
  font-family: 'Helvetica Neue', Arial,'Heiti SC','Microsoft Yahei','Open Sans', Verdana, 'Lantinghei TC','Hiragino Kaku Gothic ProN','Heiti TC',sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,ul,li,p,span,div,table,tr,th,td,i,h1,h2,h3,section,ol,pre,option {
  margin: 0;padding: 0;
  user-select: none;
  -webkit-user-select: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none;
}
input {
  outline: none;
}
em{
  font-style: normal;
}
p{
  margin: 0;
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
  &:before, &:after { 
      display: table; 
      content: ""; 
  }
  &:after { clear: both; }  
} 

.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.fl{float: left;}
.fr{float: right;}

.hide{
  display: none;
}

.underline-no{
  text-decoration: none!important;
}

.pic-fade-Out {
  opacity: 0;
  filter: alpha(opacity=0);
}
.pic-fade-In {
  -webkit-transition: opacity .35s;
  transition: opacity .35s;
  opacity: 1;
  -moz-transition: opacity .35s;
  -o-transition: opacity .35s;
  filter: alpha(opacity=100);
}

div,img{-webkit-tap-lighthigh-color:transparent;-webkit-tap-highlight-color: transparent;}
.loading{
position: fixed;
left: 0;top: 0;
width: 100%;
height: 100%;
background: #fff;
text-align: center;
color: #000;
.tip{
  width: 100%;
  height: 40px;
  position: absolute;
  top:50%;
  left: 0;
  margin-top: -20px;
  font-size: 20px;
}
}
